.app {
    text-size-adjust: none;
    font-family: helvetica, arial, sans-serif;
    line-height: 200%;
    padding: 6px 20px 30px;
}

.mainContent {
  background-color: white;
  padding-left: 200px;
  z-index: 3;
  width: 100%;
}

.sideBar {
  width: 200px;
  overflow: hidden;
  position: fixed;
  height: 100%;
  z-index: 4;
  padding-right: 20px;
  font-family: 'PT Sans Narrow', sans-serif;
  text-transform: uppercase;
}